@charset "UTF-8";/*colores de fondos*//* colores de fuentes*//*colores hover de iconos redes sociales*//* font family *//* line height */
.nombre-de-grupo {
  color: #fff;
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 16px;
}

.list-menu {
  color: #fff;
  font-family: "Rubik", serif;
  font-size: 14px;
}

.list-item {
  color: #fff;
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 15px;
}

.citaFuente {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}/* acordarse de añadir font size a la clase normal */.titulos {
  color: #099d8d;
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 24px;
}

.parrafo-fonts {
  color: "#54585A";
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.titulo-secundario {
  color: #099d8d;
  font-family: "Rubik", serif;
  font-weight: 500;
  font-size: 22px;
}

.nombres {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.titlefooter {
  color: "#B8B8B9";
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.listfooter {
  color: "#54585A";
  font-family: "Rubik", serif;
  font-weight: 400;
  font-size: 14px;
}

.caracteristicas-grupo {
  background-color: #f1f1f1;
  padding: 0 20px 45px 20px;
}

.triangulo {
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-top: 18px solid white;
  margin: 17px auto;
  padding: 0;
}

.título-f-d {
  text-align: center;
}

.texto-fortalezas {
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.texto-debilidades {
  line-height: 24px;
  text-align: center;
  margin-bottom: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #54585A;
}

.titlefooter {
  color: #b8b8b9;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}

.listfooter {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans semibold', sans-serif;
  line-height: 30px;
}

.listfooter a {
  color: #54585a;
  text-decoration: none;
}

.list li {
  margin-bottom: 6px;
}

@media all and (min-width: 768px) {
  .caracteristicas-grupo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }

  .triangulo {
    position: absolute;
    top: 0;
    left: 366px;
    -webkit-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
  }

  .título-f-d {
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .fortalezas {
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
  }

  .debilidades {
    padding-left: 30px;
    -ms-flex-preferred-size: 350px;
    flex-basis: 350px;
  }

  .footer {
    position: relative;
  }

  .titlefooter {
    position: absolute;
    left: 45px;
  }

  .listfooter {
    position: absolute;
    right: 45px;
    text-align: right;
    margin-top: 25px;
  }

  .image-footer {
    position: absolute;
    left: 45px;
    top: 55px;
    width: 116px;
    height: 45px;
    margin-bottom: 60px;
  }

  .seccion-formulario {
    width: 442px;
    margin: auto;
  }

  .titulo-contacto {
    margin-top: 45px;
  }

  .container-contacto {
    width: 60vw;
  }

  .parrafo-contacto {
    width: 442px;
  }

  .parrafo-contacto2 {
    width: 442px;
  }

  .formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .boton-enviar {
    width: 40%;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .footer2 {
    position: relative;
  }

  .footer2-text-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .titlefooter2 {
    margin-left: 20px;
  }

  .listfooter2 {
    margin-right: 20px;
  }

  .image-footer-logo {
    position: absolute;
    bottom: 62px;
    left: -45px;
  }

  .boton-enviar {
    height: 45px;
    width: 206px;
    margin: 30px 0 60px 0;
  }

  .boton {
    text-align: right;
  }
}

@media all and (min-width: 1100px) {
  .container-foto-contacto {
    height: 400px;
  }

  .titulo-contacto {
    margin-top: 45px;
  }

  .parrafo-contacto {
    width: 601px;
  }

  .parrafo-contacto2 {
    width: 601px;
  }
}

@media all and (min-width: 1200px) {
  .top {
    height: 60px;
  }

  .container-foto {
    background-position: 0% 43%;
  }

  .citaFuente {
    height: 40px;
    width: 400px;
    top: 369px;
    top: 100%;
    left: 10%;
    -webkit-transform: translate(-10%, -100%);
    transform: translate(-10%, -100%);
    padding-top: 10px;
  }

  .equipo {
    min-height: 600px;
    padding: 0px;
    width: 601px;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
  }

  .item4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .item8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .item9 {
    margin-bottom: 60px;
  }

  .width-desktop {
    width: 439px;
  }

  .seccion-quienes-somos {
    width: 924px;
  }

  .img-foto-pequeña {
    width: 278px;
    margin-right: 45px;
    margin-left: 45px;
  }

  .seccion-formulario {
    width: 601px;
    margin: auto;
  }

  .container-foto-contacto {
    height: 400px;
  }

  .formulario {
    width: 60vw;
    margin-bottom: 150px;
  }

  .input-mail,.input-telf {
    width: 100%;
    height: 30px;
  }

  .label-mail,.label-telf {
    color: #54585A;
    line-height: 19px;
    margin: 10px 0px;
    width: 100%;
  }

  .madre-mail {
    width: 300px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .madre-telf {
    width: 300px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .madre-telf-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .boton-enviar {
    width: 40%;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .footer2 {
    position: relative;
  }

  .footer2-text-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .titlefooter2 {
    margin-left: 20px;
  }

  .listfooter2 {
    margin-right: 20px;
  }

  .image-footer-logo {
    position: absolute;
    bottom: 57px;
    left: -45px;
  }
}

@media all and (min-width: 1280px) {
  .div-header1 {
    padding-left: 178px;
  }

  .div-header2 {
    padding-right: 178px;
  }
}

/*# sourceMappingURL=main.css.map */
