body{
 width: 100%;
 text-align: center;
 font-family: 'Rubik';
 font-weight: 500px;
 color: #ffffff;
 margin:0;
 position: relative;
}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.div-header1 .div-header2{
position: absolute;
}

.div-header1{
 background-color: #00A193;
 opacity: 0.8;
 line-height: 30px;
 height: 60px;
}

h1{
   font-family: 'Rubik', serif;
   font-size: 16px;
   margin:0;
   padding: 15px;
 }

.div-header2{
 background-color: #00DBC9;
 opacity: 0.8;
 font-size: 15px;
 line-height: 30px;
 display: flex;
 justify-content: center;
 height: 45px;
}

.list-menu{
 list-style: none;
 padding: 0;
 text-decoration: none;
 display: flex;
 justify-content: center;translateY (-100px)
 height: 45px;
 line-height: 0;
 margin:0;font-weight: 500px;

}
.list-menu a{
 list-style: none;
 text-decoration: none;
 color: #ffffff;
}

.list-item{
 padding: 20px 20px;
}

.foto{
 height: 300px;
 width: 100%;
 position: relative;
 background-image: image("https://pixnio.com/free-images/2017/03/25/2017-03-25-09-30-33-725x483.jpg");
}


.titulo-contacto {
  color:#099D8D;
  font-family: 'Rubik';
  font-size: 24px;
    font-weight: 500;
    text-align: center;
  margin-top: 30px;
  margin-bottom: 15px
  padding: 0;

}


.parrafo-contacto {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.parrafo-contacto2 {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;

}
.asterisco {
color:#7FEEE3
}

.formulario {
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 60px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.cuadro-tipo-1{
  height: 45px;
  width: 100%;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #B9B9BA;
  font-size: 16px;
  padding-left: 15px;
}

.cuadro-tipo-2{
  height: 105px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  color: #B9B9BA;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
  box-sizing: border-box;
  justify-content: center;
}

.button {
  width: 100%;
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-bottom: 30px;
  border-left: 15px;
  border: none;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #00A193;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #B8B8B9;
}

.titlefooter {
  color: #B8B8B9;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}

.listfooter {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans semibold', sans-serif;
  line-height: 30px;
}

.listfooter a {
  color: #54585A;
  text-decoration: none;
}

.list li {
margin-bottom: 6px;
}
