/*colores de fondos*/
$color-header: #00A193;
$color-header2: #00DBC9;
$color-fortalezasdebilidades: #f1f1f1;

/* colores de fuentes*/
$color-fontheader: #ffffff;
$color-negro: #000000;
$color-titulosyredes: #099d8d;
$color-texto: #54585A;
$color-grisclaro-footer: #B8B8B9

/* tamaños de fuentes */
$general-size: 16px;
$menu-header-size:15px;
$claim-titles-size: 24px;
$fort-deb-size: 22px;
$nombre-miembros: 20px;
$footer-size: 14px;

/*font family*/
$font-family1: 'Rubik', serif;
$font-family2: 'Open Sans',sans-serif;
