.container-contacto {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion-formulario {
  margin: 0 15px 0 15px;
}

@media all and (min-width: 768px) {
  .seccion-formulario {
    width: 442px;
    margin: auto;
  }
}

@media all and (min-width: 1200px) {
  .seccion-formulario {
    width: 601px;
    margin: auto;
  }
}

.hero-contacto {
  width: 100%;
  margin: 0;
}

.container-foto-contacto {
  background: url("../images/foto-contacto.jpeg") no-repeat center center;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  height: 300px;
  position: relative;
}

.titulo-contacto {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

@media all and (min-width: 1100px) {
  .container-foto-contacto {
    height: 400px;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

@media all and (min-width: 768px) {
  .titulo-contacto {
    margin-top: 45px;
  }

  .container-contacto {
    width: 60vw;
  }
}

@media all and (min-width: 1200px) {
  .container-foto-contacto {
    height: 400px;
  }
}

@media all and (min-width: 1100px) {
  .titulo-contacto {
    margin-top: 45px;
  }
}

/* parrafo */

.madre-parrafo-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafo-contacto {
  line-height: 24px;
  text-align: center;
}

@media all and (min-width: 768px) {
  .parrafo-contacto {
    width: 442px;
  }
}

@media all and (min-width: 1100px) {
  .parrafo-contacto {
    width: 601px;
  }
}

.parrafo-contacto2 {
  line-height: 24px;
  margin-bottom: 45px;
  text-align: center;
}

@media all and (min-width: 768px) {
  .parrafo-contacto2 {
    width: 442px;
  }
}

@media all and (min-width: 1100px) {
  .parrafo-contacto2 {
    width: 601px;
  }
}

/* formulario */

.madre-mail {
  display: flex;
  flex-direction: column;
}

.madre-telf {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 1200px) {
  .formulario {
    width: 60vw;
    margin-bottom: 150px;
  }

  .input-mail, .input-telf {
    width: 100%;
    height: 30px;
  }

  .label-mail, .label-telf {
    color: $color-texto;
    line-height: 19px;
    margin: 10px 0;
    width: 100%;
  }

  .madre-mail {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
  }

  .madre-telf {
    width: 300px;
    display: inline-flex;
    flex-direction: column;
  }

  .madre-telf-mail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.label {
  color: $color-texto;
  line-height: 19px;
  margin: 10px 0;
}

.asterisco {
  color: $color-titulosyredes;
}

.input {
  margin: 10px 0;
}

.input-name {
  line-height: 22px;
  height: 45px;
}

.input-mensaje {
  height: 105px;
  margin-bottom: 30px;
}

.input-mail {
  height: 30px;
}

.input-telf {
  height: 30px;
}

.boton-enviar {
  color: $color-fontheader;
  line-height: 22px;
  background-color: $color-header;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;


  &:hover{
    background-color: $color-fontheader;
    border: 1px solid $color-header;
    color: $color-header;
  }
}

@media all and (min-width: 768px) {
  .formulario {
    display: flex;
    flex-wrap: wrap;
  }

  .boton-enviar {
    width: 40%;
    align-self: flex-end;
  }
}

@media all and (min-width: 768px) {
  .formulario {
    display: flex;
    flex-wrap: wrap;
  }
}
