body{

  width: 100vw;
  height: 100vh;
  margin:0;

}
header{
  position: fixed;
  z-index: 1;
  width: 100%;
}


.div-header1 {
  background-color: #00A193;
  line-height: 30px;
  height: 60px;
  opacity: 0.7;
}

@media all and (min-width:768px) {
  .div-header1{
    width: 50%;
    float:left;
  }
}

.nombre-de-grupo{
  font-family: 'Rubik', serif;
  font-size: 16px;
  margin:0;
  padding: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

@media all and (min-width:768px) {
  .nombre-de-grupo{
    text-align: left;
    padding-left: 45px;
  }
}

.div-header2{
  background-color: #00DBC9;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  height: 45px;
  opacity: 0.7;
}

@media all and (min-width:768px){
  .div-header2{
    background-color: #00A193;
    height: 60px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }
}

.list-menu{
  list-style: none;
  padding: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  height: 45px;
  line-height: 0;
  margin:0;
}

@media all and (min-width:768px) {

  .list-menu{
    margin-right:45px;
    align-items: center;

  }
}
.list-menu a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Rubik', serif;
  font-size: 14px;
  font-weight: 500;
}

.list-item{
  padding: 20px 10px;
}

@media all and (min-width:768px) {


  .list-item {
    padding: 20px 10px;
  }
}

/* seccion maria */
.top {
  height: 104px;
}

.foto-cita {
  background-color: black;
  height: 155px;
  position: relative;
}

.container-foto {
  background: url("../img/foto-grupo.png") no-repeat center center;
  background-size: cover;
  height: 157px;
  min-width: 320px;
  min-height: 200px;
  position: relative;
}


.citaFuente{
  width: 80%;
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  font-weight: 600;
  color:#000000;
  text-align: center;
  background-color: white;
  position: absolute;
  left:129%;
  top:122%;
  transform: translate(-150%, -150%);
  padding-top: 10px;


}

.equipo {
 position: relative;
 top: 30px;
  padding: 41px 20px 20px 20px;
}

.titulo-equipo {
  color:#099D8D;
  font-family: 'Rubik';
  font-size: 24px;
  font-weight: 500;
  text-align: center;

}


.parrafo {
  font-family: 'Open Sans', sans-serif;
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
  text-align: center;


}
/* medias MariaV  between mobil and tablet*/
@media all and (min-width:414px){
  .citaFuente{
    top:60px;
  }
}

@media all and (min-width:440px){
  .container-foto{
    height: 200px;
  }
  .citaFuente{
    top:210px;
  }

  .equipo {

    padding: 82px 20px 0 20px;
  }


}


/* medias MariaV  tablet*/
@media all and (min-width:768px){

  .top {
    height: 61px;

  }

  .container-foto {
    height: 350px;
    width: 100%;
    background-size: cover;
}

.equipo {
 top: 150px;
}
.citaFuente{
  width: 300px;
  top: 369px;
  left: 500px;
  opacity: 0.7;
}

/* medias MariaV  desktop*/
@media all and (min-width:1200px){
  .top {
    height: 60px;
  }

  .container-foto {

    background-position: 0% 43%;
   }
 }
 .citaFuente{
   height: 40px;
   width: 500px;
   left: 800px;
   top:369px
 }
 .equipo {
   min-height: 600px;
   padding: 0px;
   width: 601px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, 36%);
 }
}


/*Seccion María F.*/

.caracteristicas-grupo{
  background-color: #f1f1f1;
  padding: 0px 20px 45px 20px;

}
@media all and (min-width:768px) {
  .caracteristicas-grupo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
}

@media all and (min-width:1200px) {
  .caracteristicas-grupo{
    /*padding-bottom: 0;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 200px 60px 200px;
  }
}

@media all and (min-width:768px) {
  .triangulo{
    position: absolute;
    top: 0;
    left: 366px;
    transform: translate(-0%, -100%);
  }
}

@media all and (min-width:1200px) {
  .triangulo{
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -100%);
  }
}

.triangulo {
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-top: 18px solid white;
  margin: 17px auto;
  padding: 0;
}

@media all and (min-width:768px) {
  .título-f-d {
    padding-top: 45px;
    padding-bottom: 15px;
  }
}

@media all and (min-width:1200px) {
  .título-f-d {
    margin-top: 0;
  }
}

.título-f-d {
  color: #099d8d;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;

}

@media all and (min-width:768px) {
  .fortalezas{
    flex-basis: 350px;
  }
}

@media all and (min-width:1200px) {
  .fortalezas{
    margin-right: 22.5px;
    flex-basis: 50%;

  }
}

.texto-fortalezas {
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

@media all and (min-width:768px) {
  .debilidades{
    padding-left: 30px;
    flex-basis: 350px;
  }
}

@media all and (min-width:1200px) {
  .debilidades{
    margin-left: 22.5px;
    flex-basis: 50%;
    padding-left: 0;

  }
}
.texto-debilidades {
  color: #54585A;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 0;

}

/*seccion raquel*/

.seccion-quienes-somos {
  margin: auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

@media all and (min-width:1200px){

  .seccion-quienes-somos{
    width: 924px;
  }

}

.titulo-somos {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #099D8D;
  margin: 30px 0 30px 0;
}

@media all and (min-width:768px){
  .titulo-somos{
    margin: 45px 0 45px 0;
  }
}

@media all and (min-width:768px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
  }

  .item1{
      grid-column-start: 1;
      grid-column-end: 1;
  }

  .item2{
        grid-column-start: 2;
        grid-column-end: 4;
  }

  .item4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .item6{
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .item8{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
  }

  .item10{
    grid-column-start: 2;
    grid-column-end: 4;
  }

}

@media all and (min-width:1200px){

  .item4{
    display: flex;
    justify-content: flex-end;
  }

  .item8{
    display: flex;
    justify-content: flex-end;
  }

  .item9{
    margin-bottom: 60px;
  }
  .width-desktop{
    width: 439px;
  }

}

.foto-personal {
  margin: auto;
  margin-top: 30px;
}

@media all and (min-width:768px) {
  .foto-personal {
    margin: 0;
    margin-top: 0;
  }
}

.img-foto-pequeña {
  display: block;
  margin: auto;
  border: 4px solid #ccc;
  border-radius: 16px;
  width: 180px;
}

@media all and (min-width:768px) {
  .img-foto-pequeña {
    width: 205px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media all and (min-width:1200px){

  .img-foto-pequeña {
    width: 278px;
    margin-right: 45px;
    margin-left: 45px;
  }

}

.nombre-apellidos {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
}

@media all and (min-width:768px) {
  .alineacion-izquierda {
    text-align: left;
  }
  .alineacion-derecha {
    text-align: right;
  }

}


.texto-somos {
  text-align: center;
  color: #54585A;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

@media all and (min-width:768px){


  .alineacion-izquierda {
    text-align: left;
  }
  .alineacion-derecha {
    text-align: right;
  }
}

.iconos-redes-sociales {
  margin: 15px 0 45px 0;
  display: flex;
  justify-content: center;
}

@media all and (min-width:768px) {


  .iconos-redes-sociales-izquierda {
    justify-content: flex-start;
    margin: 15px 0 60px 0;
  }
  .iconos-redes-sociales-derecha {
    justify-content: flex-end;
    margin: 15px 0 60px 0;
  }
}

.lista-redes-sociales {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.icono-punto {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(35%);
  font-size: 20px;
}

.twitter,
.linkedin,
.git,
.email {
  padding: 10px 10px;
  position: relative;
}

@media all and (min-width:768px) {
  .twitter,
  .linkedin,
  .git,
  .email {
    padding: 0 10px 0 0px;
  }
}


.iconos {
  margin: 0 5px 0 5px;
  color: #099D8D;
}



/*seccion laura*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #54585A;
}

@media all and (min-width:768px){
  .footer {
    position: relative;
  }
}
.titlefooter {
  color: #B8B8B9;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
}

@media all and (min-width:768px){
  .titlefooter {
    position: absolute;
    left: 45px;
  }
}

.listfooter {
  text-decoration: none;
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans semibold', sans-serif;
  line-height: 30px;
}
@media all and (min-width:768px){
  .listfooter {
    position: absolute;
    right: 45px;
    text-align: right;
    margin-top: 25px;
  }
}
.listfooter a {
  color: #54585A;
  text-decoration: none;
}
.list li {
  margin-bottom: 6px;
}

.image-footer{
}
@media all and (min-width:768px){
  .image-footer{
    position: absolute;
    left: 45px;
    top: 55px;
    width: 116px;
    height:45px;
    margin-bottom: 60px;

  }
}


/*estilos contacto*/


.container-contacto{

  width: 80vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.seccion-formulario{
  margin: 0 15px 0 15px;
}

@media all and (min-width:768px){

  .seccion-formulario{
    width: 442px;
    margin: auto;
  }
}

@media all and (min-width:1200px){

  .seccion-formulario{
    width: 601px;
    margin: auto;
  }
}


.hero-contacto{
  width: 100%;
  margin:0;

}

.container-foto-contacto{
  background: url("../img/imagen_contacto.jpg") no-repeat center center;
   background-size: cover;
   min-width: 100%;
   width: 100%;
   height: 300px;
   position: relative;
}


.titulo-contacto{
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  color:#099D8D;
  font-family: 'Rubik', serif;
  text-align: center;
}

@media all and (min-width:1100px){
  .container-foto-contacto {
    height: 400px;
  }
}

.formulario{
  display: flex;
  flex-direction: column;

}
@media all and (min-width:768px){
  .titulo-contacto{
    margin-top:45px;
  }
  .container-contacto{
    width: 60vw;
  }
}

@media all and (min-width:1200px){
  .container-foto-contacto{
    height: 400px;
  }
}
.titulo-contacto{
  padding: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  color:#099D8D;
  font-family: 'Rubik', serif;
  text-align: center;
}
@media all and (min-width:1100px){
  .titulo-contacto{
    margin-top:45px;
  }
}

/*parrafo*/
.madre-parrafo-formulario{
  display: flex;
flex-direction: column;
align-items:center;


}
.parrafo-contacto{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
@media all and (min-width:768px){
  .parrafo-contacto{
    width: 442px;
  }
}
@media all and (min-width:1100px){

  .parrafo-contacto{
    width: 601px;
  }
  .container-contacto{

  }
}

.parrafo-contacto2{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 45px;
  text-align: center;
}
@media all and (min-width:768px){
  .parrafo-contacto2{
    width: 442px;
  }
}
@media all and (min-width:1100px){
  .parrafo-contacto2{
    width: 601px;
  }
}
/*formulario*/

.formulario{

  width: 80vw;
  display: flex;
  flex-direction: column;
}
.madre-mail{
  display:flex;
  flex-direction: column;
}
.madre-telf{
  display:flex;
  flex-direction: column;}

@media all and (min-width:768px){

}
@media all and (min-width:1200px){
  .formulario{
    width: 60vw;
    margin-bottom: 150px;
  }
  .input-mail, .input-telf {
    width: 100%;
    height: 30px;
  }
  .label-mail, .label-telf{
    color: #54585A;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0px;
    width: 100%;
  }
  .madre-mail{
    width: 300px;

    display: inline-flex;
    flex-direction: column;
  }
  .madre-telf{
      width: 300px;
     display: inline-flex;
     flex-direction: column;
  }
  .madre-telf-mail{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

}

.label{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  margin: 10px 0px;
}
.asterisco{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color:#099D8D;
}
.input{

  margin: 10px 0;
}
.input-name{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  height: 45px;
}
.input-mensaje{
  height: 105px;
  margin-bottom: 30px;
}
.input-mail{
  height: 30px;
}
.input-telf{
height: 30px;
}
.boton-enviar{
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #00A193;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}

@media all and (min-width:768px){
  .formulario{
    display:flex;
    flex-wrap: wrap;
  }
  .boton-enviar{
    width: 40%;
    align-self: flex-end;
  }
.footer2{
  position: relative;
}
  .footer2-text-menu{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

  }
  .titlefooter2{
   margin-left: 20px;

    }
  .listfooter2 {

    margin-right: 20px;
   }
   .image-footer-logo{
     position: absolute;
     bottom: 62px;
     left: -45px;
   }






}
@media all and (min-width:1200px){
.boton-enviar{
  width: 40%;
  align-self: flex-end;
}
.footer2 {
  position:relative;
}
.footer2-text-menu{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
.titlefooter2{
 margin-left: 20px;

  }
.listfooter2 {

  margin-right: 20px;
 }
.image-footer-logo{
  position: absolute;
  bottom: 57px;
  left: -45px;
}
}
/*footer*/

.footer2{

  border-top: 1px solid #54585A;
  height: 180px;
}
.titlefooter2{
  margin-top: 30px;

  color: #B8B8B9;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.listfooter2 {

  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans semibold', sans-serif;
  line-height: 30px;
}
.menu-item{
  text-decoration: none;
  color:#54585A;
}
.image-footer2{
  display: flex;
  justify-content: center;
}
.image-footer-logo{

transform: scale(0.5);

}

.input{
  height: 45px;
  margin-top: 5px;
  max-resolution: 15px;;
}

.campo-texto-mensaje{
  height: 105px;
}

.boton-enviar{
  height: 45px;
  width: 100%;
  margin: 30px 0 60px 0;
}


@media all and (min-width:768px){

  .boton-enviar{
    height: 45px;
    width: 206px;;
    margin: 30px 0 60px 0;

  }

  .boton{
    text-align: right;
  }

}
